.task-list {
    list-style-type: none;

    .task-list-item {
        margin: 0 0.2em 0.25em -1.6em;
    	vertical-align: middle;
    }
}

pre.code-highlight > code {
	padding: 0;
	margin: 0;
	line-height: inherit;
}

