{{ with .Site.Params.coverImage }}
  {{ if (in . "://") }}
    {{ $cover := . }}
    <div id="cover" style="background-image:url('{{ $cover | relURL }}');"></div>
  {{ else }}
    {{ $cover := (printf "images/%s" .) }}
    <div id="cover" style="background-image:url('{{ $cover | relURL }}');"></div>
  {{ end }}
{{ end }}
